<!-- begin::Header -->
<header id="m_header" class="m-grid__item m-header"  m-minimize="minimize" m-minimize-mobile="minimize" m-minimize-offset="10" m-minimize-mobile-offset="10" appunwraptag="" >
	<div class="m-header__top">
		<div class="m-container m-container--fluid m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Brand -->
				<div class="m-stack__item m-brand m-stack__item--left">
					<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
						<div class="m-stack__item m-stack__item--middle m-brand__logo">
							<a routerLink="/index" class="m-brand__logo-wrapper">
								<img alt="" src="./assets/demo/demo10/media/img/logo/logo.png" class="m-brand__logo-desktop"/>
								<img alt="" src="./assets/demo/demo10/media/img/logo/logo_mini.png" class="m-brand__logo-mobile"/>
							</a>
						</div>
					</div>
				</div>
				<!-- end::Brand -->		 				<!-- begin::Topbar -->
				<div class="m-stack__item m-stack__item--right m-header-head" id="m_header_nav">
					<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-topbar__nav-wrapper">
							<ul class="m-topbar__nav m-nav m-nav--inline">
								<li class="m-nav__item m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
									<a href="#" class="m-nav__link m-dropdown__toggle">
										<span class="m-topbar__userpic">
											<img src="./assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt=""/>
										</span>
										<span class="m-nav__link-icon m-topbar__usericon  m--hide">
											<span class="m-nav__link-icon-wrapper">
												<i class="flaticon-user-ok"></i>
											</span>
										</span>
										<span class="m-topbar__username m--hide">
											Mark
										</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<div class="m-card-user m-card-user--skin-light">
													<div class="m-card-user__pic">
														<img src="./assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt=""/>
													</div>
													<div class="m-card-user__details">
														<!-- <span class="m-card-user__name m--font-weight-500">
															Mark Andre
														</span> -->
														<a href="" class="m-card-user__email m--font-weight-300 m-link">
															{{ this.afAuth.auth.currentUser.email }}
														</a>
													</div>
												</div>
											</div>
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav m-nav--skin-light">
														<li class="m-nav__section m--hide">
															<span class="m-nav__section-text">
																Section
															</span>
														</li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-profile-1"></i>
																<span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			My Profile
																		</span>
																		<span class="m-nav__link-badge">
																			<span class="m-badge m-badge--success">
																				2
																			</span>
																		</span>
																	</span>
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Activity
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Messages
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit"></li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit"></li>
														<li class="m-nav__item">
															<a routerLink="/snippets/pages/user/login-1" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout">
																Logout
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="m-nav__item m-nav__item--success m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  m-dropdown-toggle="click">
									<a href="#" class="m-nav__link m-dropdown__toggle">
										<span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
										<span class="m-nav__link-icon">
											<span class="m-nav__link-icon-wrapper">
												?
											</span>
										</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<span class="m-dropdown__header-title">
													Quick Actions
												</span>
												<span class="m-dropdown__header-subtitle">
													Shortcuts
												</span>
											</div>
											<div class="m-dropdown__body m-dropdown__body--paddingless">
												<div class="m-dropdown__content">
													<div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
														<div class="m-nav-grid m-nav-grid--skin-light">
															<div class="m-nav-grid__row">
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-file"></i>
																	<span class="m-nav-grid__text">
																		Generate Report
																	</span>
																</a>
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-time"></i>
																	<span class="m-nav-grid__text">
																		Add New Event
																	</span>
																</a>
															</div>
															<div class="m-nav-grid__row">
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-folder"></i>
																	<span class="m-nav-grid__text">
																		Create New Task
																	</span>
																</a>
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-clipboard"></i>
																	<span class="m-nav-grid__text">
																		Completed Tasks
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>


							</ul>
						</div>
					</div>
				</div>
				<!-- end::Topbar -->
			</div>
		</div>
	</div>
	<div class="m-header__bottom">
		<div class="m-container m-container--fluid m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Horizontal Menu -->
				<div class="m-stack__item m-stack__item--fluid m-header-menu-wrapper">
					<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
						<i class="la la-close"></i>
					</button>
					<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light"  >
						<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
							<li class="m-menu__item    -tab  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/index" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Dashboard
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
											<a  routerLink="/index" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-dashboard"></i>
												<span class="m-menu__link-text">
													Overview
												</span>
											</a>
										</li>

										<li class="m-menu__item  m-menu__item--actions" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
											<div class="m-menu__link m-menu__link--toggle-skip">
												<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--pill">
													<span>
														<i class="la la-plus"></i>
														<span>
															Add Video Source
														</span>
													</span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/stream" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Streams
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/stream" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-graphic-2"></i>
												<span class="m-menu__link-text">
													Overview
												</span>
											</a>
										</li>
										
										<li class="m-menu__item  m-menu__item--actions" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
											<div class="m-menu__link m-menu__link--toggle-skip">
												<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--pill">
													<span>
														<i class="la la-cloud-download"></i>
														<span>
															Add a Video Stream
														</span>
													</span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/analytics-overview" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Analytics
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/analytics-overview" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-graphic-2"></i>
												<span class="m-menu__link-text">
													Overview
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/builder" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-analytics"></i>
												<span class="m-menu__link-text">
													Reports
												</span>
											</a>
										</li>
										<li class="m-menu__item  m-menu__item--actions" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
											<div class="m-menu__link m-menu__link--toggle-skip">
												<div class="dropdown">
													<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill m-btn--air   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="la la-cloud-download"></i>
														&nbsp;&nbsp;Export
													</a>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="#">
															<i class="flaticon-share"></i>
															Action
														</a>
														<a class="dropdown-item" href="#">
															<i class="flaticon-settings"></i>
															Another action
														</a>
														<a class="dropdown-item" href="#">
															<i class="flaticon-graphic-2"></i>
															Something else
														</a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/api-overview" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										API
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/api-overview" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-graphic-2"></i>
												<span class="m-menu__link-text">
													Overview
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/builder" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-analytics"></i>
												<span class="m-menu__link-text">
													Usage
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/builder" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-notes"></i>
												<span class="m-menu__link-text">
													API Keys
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/builder" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-clipboard"></i>
												<span class="m-menu__link-text">
													Generate New Key
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/settings-account" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Settings
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/settings-account" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-avatar"></i>
												<span class="m-menu__link-text">
													My Account
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/settings-billing" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-coins"></i>
												<span class="m-menu__link-text">
													Billing
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/settings-communication" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-paper-plane"></i>
												<span class="m-menu__link-text">
													Communication
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs" routerLinkActive="m-menu__item--active-tab" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="tab" aria-haspopup="true">
								<a  href="javascript:;" routerLink="/support-faqs" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text m--font-lifebuoy">
										Support
									</span>
									<i class="m-menu__hor-arrow la la-angle-down"></i>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
									<span class="m-menu__arrow m-menu__arrow--adjust"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/support-faqs" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-info"></i>
												<span class="m-menu__link-text">
													FAQs
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
											<a href = "http://docs.nupek.com/" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-notes"></i>
												<span class="m-menu__link-text">
													Documentation
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/support-ticket" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-paper-plane"></i>
												<span class="m-menu__link-text">
													Submit a Ticket
												</span>
											</a>
										</li>
										<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
											<a  routerLink="/support-contact" class="m-menu__link">
												<i class="m-menu__link-icon flaticon-mail"></i>
												<span class="m-menu__link-text">
													Contact Us
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- end::Horizontal Menu -->
			</div>
		</div>
	</div>
</header>
<!-- end::Header -->
